@import 'tailwindcss';

/* :root { */
/* --purple: #210727; */
/* --purple-light: #2107273d; */
/* --white-faded: #ffffff81; */
/* --purple-faded: rgb(58, 0, 53, 0.1); */
/* --black: 0px 2px 2px rgba(0, 0, 0, 1); */
/* } */

@theme {
  --font-primary: 'Roboto', sans-serif;
  --color-purple: #210727;
  --color-purple-light: #2107273d;
  --color-purple-faded: #3a00351a;
  /* --text-shadow-black: var(--color-black); */
}

body {
  @apply bg-[#474747];
}
