@import 'tailwindcss';

/* :root { */
/* --purple: #210727; */
/* --purple-light: #2107273d; */
/* --white-faded: #ffffff81; */
/* --purple-faded: rgb(58, 0, 53, 0.1); */
/* --black: 0px 2px 2px rgba(0, 0, 0, 1); */
/* } */

@theme {
  --font-primary: 'Roboto', sans-serif;

  --color-white-faded: #ffffff81;
  --color-purple: #210727;
  --color-purple-light: #2107273d;
  --color-purple-faded: #3a00351a;
  --color-deep-indigo: #262239;
  --shadow-sm: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
}

html {
  scroll-behavior: smooth;
}

.border-thin {
  border: 0.5px solid rgba(255, 255, 255, 0.2);
}

.onHover {
  @apply transition-all duration-500 ease-in-out;
  &:hover {
    @apply scale-105;
  }
}

.card {
  @apply w-[480px] m-[-150px]  bg-deep-indigo;
}

.card:first-child {
  @apply ml-0;
}

.card-wrapper {
  @apply flex;
}
