@import 'tailwindcss';

@theme {
  --font-primary: 'Roboto', sans-serif;

  --color-white-faded: #ffffff81;
  --color-purple: #573564;
  --color-purple-light: #2107273d;
  --color-purple-faded: #3a00351a;
  --color-deep-indigo: #262239;
  --color-sundown-blush: #7b4042;
  --color-yellow: #ffc857;
  --shadow-sm: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
  --text-shadow-sm: 0px 2px 2px rgba(0, 0, 0, 1);
  --inset-shadow-sm: 2px 10px 0px rgba(0, 0, 0, 0.05);
}

html {
  scroll-behavior: smooth;
}

.border-thin {
  border: 0.5px solid rgba(255, 255, 255, 0.2);
}

.onHover {
  @apply transition-all duration-300 ease-in-out;
  &:hover {
    @apply scale-105;
  }
}

.projectButton {
  @apply w-full border border-yellow cursor-pointer h-[60px] z-10 text-xl font-bold;
}

.selectedProjectButton {
  @apply w-full border bg-yellow text-black h-[60px] text-shadow-none;
}

.button {
  @apply h-12 border border-yellow hover:bg-yellow hover:text-black shadow-sm flex items-center justify-center w-full rounded-full text-base md:text-xl font-bold tracking-wider cursor-pointer;
}

.embla {
  @apply overflow-hidden w-full;
}
.embla__container {
  @apply flex;
}
.embla__slide {
  @apply flex flex-shrink-0 w-full px-5 lg:px-10;
}
